<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

    <modelVersion>4.0.0</modelVersion>
    <groupId>${groupId}</groupId>
    <artifactId>${serviceName}ServiceEar</artifactId>
    <packaging>ear</packaging>
    <version>${version}</version>
    <name>${serviceName}ServiceEar</name>
    <url>http://www.example.com</url>

    <parent>
        <groupId>${groupId}</groupId>
        <artifactId>${artifactId}</artifactId>
        <version>${version}</version>
    </parent>

    <build>
        <plugins>

            <!-- EAR plugin configuration -->
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-ear-plugin</artifactId>
                <configuration>
                    <!-- This should stay as a template var in the final pom.xml-->
                    <earSourceDirectory>\${basedir}</earSourceDirectory>
                    <!--
                     WSAD mandates META-INF folder to be under
                     project root, cannot use standard m2 layout.
                     Exclude some files and folders so they don't
                     land in the final EAR.
                    -->
                    <excludes>pom.xml,
                              target/**,
                              .project,
                              .server,
                              .serverPreference,
                              *.iml,
                              META-INF/application.xml
                    </excludes>

                    <!--
                        Exclude WSAD's application.xml, generate one with
                        deployed versions
                    -->
                    <generateApplicationXml>true</generateApplicationXml>
                    <!-- Reference the correct client jar with the version info -->
                    <displayName>${serviceName}Service-${version}</displayName>

                    <!-- List dependencies in the EAR's MANIFEST.MF -->
                    <!--<archive>-->
                        <!--<manifest>-->
                          <!--<addClasspath>true</addClasspath>-->
                        <!--</manifest>-->
                    <!--</archive>-->

                </configuration>
            </plugin>
        </plugins>
    </build>

    <dependencies>
        <dependency>
            <groupId>\${groupId}</groupId>
            <artifactId>${serviceName}ServiceEjb</artifactId>
            <version>\${version}</version>
            <!-- Type is critical here, so it gets included in the EAR -->
            <type>ejb</type>
        </dependency>
    </dependencies>

</project>