<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.mule.ide.prototype.mulemodel.presentation.MuleModelWizardID"
      name = "%_UI_MuleModelWizard_label"
      class = "org.mule.ide.prototype.mulemodel.presentation.MuleModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/MuleModelFile.gif">
      <description>%_UI_MuleModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.mule.ide.prototype.mulemodel.presentation.MuleEditorID"
        name = "%_UI_MuleEditor_label"
        icon = "icons/full/obj16/MuleModelFile.gif"
        extensions = "xml"
        class = "org.mule.ide.prototype.mulemodel.presentation.MuleEditor" 
        contributorClass="org.mule.ide.prototype.mulemodel.presentation.MuleActionBarContributor" >
    </editor>
  </extension>    
</plugin>
