package com.example.service.${serviceName.toLowerCase()}.dto;


import com.example.service.${serviceName.toLowerCase()}.documentcode.${serviceName}Code;
import com.example.service.dto.BaseDTO;

/**
 * Represents a Data Transfer Object for a ${serviceName}.
 */
public class ${serviceName}DTO extends BaseDTO {

    private ${serviceName}Code ${serviceName}Code;
    
    public ${serviceName}DTO() {
        super();
    }

    public ${serviceName}Code get${serviceName}Code() {
        return ${serviceName}Code;
    }

    public void set${serviceName}Code(${serviceName}Code ${serviceName}Code) {
        this.${serviceName}Code = ${serviceName}Code;
    }

}
