package com.example.service.${serviceName.toLowerCase()}.criteria;


import com.example.service.dao.hibernate.sort.QuerySortPolicy;

import java.io.Serializable;

/**
 * The class encapsulates the search criteria for
 * the "find${serviceName}s" business operation.
 */
public class ${serviceName}SearchCriteria  implements Serializable {

    // a field to store search result's sort settings
    private QuerySortPolicy sortPolicy;

    public ${serviceName}SearchCriteria() {
    }
    
    public ${serviceName}SearchCriteria(QuerySortPolicy sortPolicy) {
        this.sortPolicy = sortPolicy;
    }

    public QuerySortPolicy getSortPolicy() {
        return sortPolicy;
    }

}