<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  - $Id$
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  - Copyright (c) MuleSource, Inc.  All rights reserved.  http://www.mulesource.com
  -
  - The software in this package is published under the terms of the MuleSource MPL
  - license, a copy of which has been included with this distribution in the
  - LICENSE.txt file.
 -->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://muleumo.org/model/" 
       class = "org.mule.ide.config.mulemodel.MulePackage"
       genModel = "model/mulemodel.genmodel" /> 
  </extension>

</plugin>

