<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.mule.ide.prototype.palette.paletteEntries" name="paletteFolder" schema="schema/org.mule.ide.prototype.palette.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mule IDE"
            id="org.mule.ide.prototype.palette">
      </category>
      <view
            name="Mule Templates"
            icon="icons/mule16.GIF"
            category="org.mule.ide.prototype.palette"
            class="org.mule.ide.prototype.palette.views.ToolPalette"
            id="org.mule.ide.prototype.palette.views.ToolPalette">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mule.ide.prototype.palette.views.Tool Palette">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.mule.ide.prototype.palette.paletteEntries">
      <folder
            folderId="org.mule.ide.prototype.palette.webProtocols"
            icon="icons/sample.gif"
            name="HTTP, etc.">
         <folder
               folderId="org.mule.ide.prototype.palette.soap"
               icon="icons/mule16.GIF"
               name="SOAP">
            <component
                  className="org.mule.foo.Bar"
                  icon="icons/mule16.GIF"/>
            <component
                  className="org.mule.bar.Foo"
                  icon="icons/XMLFile.gif"/>
            <filter
                  className="org.mule.filters.Foobar"
                  icon="icons/mule16.GIF"/>
         </folder>
         <folder
               folderId="org.mule.ide.prototype.palette.folder4"
               icon="icons/sample.gif"
               name="REST">
            <component
                  className="org.mule.rest.Sleeper"
                  icon="icons/mule16.GIF">
               <exampleXml>
                  <mule-descriptor className="org.mule.rest.Sleeper" inbountEndpoint="http://localhost:80/rest/" />
               </exampleXml>
            </component>
            <component
                  className="org.mule.rest.Yawner"
                  icon="icons/mule16.GIF"/>
         </folder>

      </folder>
      <folder
            folderId="org.mule.ide.prototype.palette.queues"
            icon="icons/XMLFile.gif"
            name="Queues">
         <component
               className="org.mule.jms.Quux"
               icon="icons/mule16.GIF"/>
         <component
               className="org.mule.jms.Router"
               icon="icons/mule16.GIF"/>
      </folder>
   </extension>

</plugin>
