package com.example.service.${serviceName.toLowerCase()}.documentcode;

import java.io.Serializable;
import java.text.DecimalFormat;

/**
 *
 */
public class ${serviceName}Code implements Serializable {

    private String companyCode;
    private Integer ${serviceName}Number;

    public ${serviceName}Code() {
    }

    public ${serviceName}Code(String companyCode, Integer number) {
        this.companyCode = companyCode;
        this.${serviceName}Number = number;
    }


    public String getCompanyCode() {
        return companyCode;
    }

    public void setCompanyCode(String companyCode) {
        this.companyCode = companyCode;
    }

    public Integer get${serviceName}Number() {
        return ${serviceName}Number;
    }

    public void set${serviceName}Number(Integer ${serviceName}Number) {
        this.${serviceName}Number = ${serviceName}Number;
    }

    /**
     * Parses ${serviceName} code.
     * Similar to {DocumentCode.fromString()} method.
     */
    public static ${serviceName}Code fromString(String code) {
        if (code == null || code.equals("")) {
            throw new IllegalArgumentException(
                    "Wrong ${serviceName}Code format: " + code
            );
        }

        final String[] tokens = code.split("-");
        if (tokens.length != 2) {
            throw new IllegalStateException("Incorrect number of tokens: " +
                                           tokens.length +
                                            ". Expected count is 2.");
        }

        final Integer num = new Integer(tokens[1]);
        return new ${serviceName}Code(tokens[0], num);
    }


    public String toString() {
        return new StringBuffer()
                        .append(companyCode)
                        .append('-')
                        .append(new DecimalFormat("00000").format(${serviceName}Number))
                        .toString();
    }

}
