package com.example.service.${serviceName.toLowerCase()}.ejb;

import javax.ejb.CreateException;
import javax.ejb.EJBHome;
import java.rmi.RemoteException;

/**
 * Home interface for the Enterprise Bean: ${serviceName}Service
 */
public interface ${serviceName}ServiceHome extends EJBHome {
    /**
     * Creates a default instance of Session Bean: ${serviceName}Service
     */
    public ${serviceName}ServiceEJB create()
        throws CreateException, RemoteException;
}
