package com.example.service.${serviceName.toLowerCase()}.ejb;

import javax.ejb.EJBLocalObject;

import com.example.service.${serviceName.toLowerCase()}.${serviceName}Service;

/**
 * Local interface for Enterprise Bean: ${serviceName}Service
 */
public interface ${serviceName}ServiceLocal extends EJBLocalObject , ${serviceName}Service {
}
